/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2021, 6:05:40 PM
    Author     : dalang
*/
.container {
    display: flex;
/*    flex-wrap: true;*/
}
.scroll-div {
  flex: 30%;
}

.form-div {
  flex: 100%;
  
}
.biz_list-container {
    display: flex;
}
/*table {
  border: 1px solid white;
  width: 80%;
}
.bit-list-table {
    border: 1px solid black;
    width: 100%;
}
th {
    border: 1px solid white;
    background: gray;
    color: gray;
}*/

input[type=text] {
    width: 100%;
/*    padding: 15px 22px;
    margin: 10px 5px;*/
    box-sizing: border-box;  
}

/*input {
    width:100%;
    padding: center;
  }*/
table.db-table { 
    border-right:1px solid #ccc; 
    border-bottom:1px solid #ccc; 
}
table.db-table th { 
    background:#eee;
    padding:5px;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc; 
}
table.db-table td{
    padding:5px;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc; 
}
table { 
    border-right:1px solid #ccc; 
    border-bottom:1px solid #ccc; 
}
table th { 
    background:#eee;
    padding:5px;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc; 
}
table td{
    padding:5px;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc; 
}
