h1{
	text-align: center;
}
p{
	margin: 0.25in;
	border: 0.25in solid black;
	padding:0.25in;
	/*background: url(image/);*/
}
body{
	background: url(../image/tuong.jpg);
}
.banner{
	/*background: url();*/
	font-size: 50pt;
	font-family: Arial Rounded MT Bold;
}
