/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 19, 2021, 12:56:13 AM
    Author     : dalang
*/

 body {
                width: 600px;
                margin: 100px  auto;
                padding: 10px 20px 20px 20px;
                background-image:url('https://images.pexels.com/photos/235986/pexels-photo-235986.jpeg?cs=srgb&dl=pexels-pixabay-235986.jpg&fm=jpg');
                border: 5px solid black;
                font-size: 30px;
                color: orange;
              }
               .inforbox {
                     }
             
               .name {
                   width: 100%;
                   height: 50px;
               }
                .university {
                   width: 100%;
                   height: 50px;
               }
                .class {
                   width: 100%;
                   height: 50px;
               }
                .email {
                   width: 100%;
                   height: 50px;
               }
               .inforbox input[type='checkbox'] {
                  
                   
               }
               .inforbox input[type='radio'] {
                   height: 20px;
                   
               }
               .hobbies {
                    height: 20px;
                    align-content: center;
               }
               #phone {
                   width: 100%;
                   height: 50px;
               }
               #web {
                   width: 100%;
                   height: 50px;
               }
               .result {
                   color: red;
               }
            