
.starter-template{
    padding: 40px 15px;
    text-align: center;
} 

body {
    padding-top: 50px; 
    background-color: #f2f2f2; 
    color: #333;
}

.main{box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important; margin-top: 10px;}

h3{background-color: #4294D1; color: #f7f7f7; padding: 15px; border-radius: 4px; box-shadow: 0 1px 6px rgba(57,73,76,0.35);}
.img-box{margin-top: 20px;}
.img-block{float: left; margin-right: 5px; text-align: center;}
p{margin-top: 0;}
img{width: 375px; min-height: 250px; margin-bottom: 10px; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important; border:6px solid #f7f7f7;}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
img{
    width:10%;
    height:20%; 
}
.img-container{ 
    border: 1px solid #CCC; 
    height: auto; /** Chiều cao tự động **/ 
    margin: 10px auto; /** Cách trên dưới 10px và nằm giữa **/ 
    overflow: hidden; /** DÒNG BẮT BUỘC CÓ **/ 
    position: relative; width: 600px; /** Chiều rộng vùng chứa **/ } 

.img-container img { 
    width: 100%; /** Hình ảnh rộng 100% so với vùng chứa **/ 
    transition: all 1s; /** Tạo độ mượt **/ } 

.img-container:hover img { 
    -webkit-transform: scale(1.2); transform: scale(1.2); }
.img-hover-zoom--quick-zoom img {
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
}

/* The Transformation */
.img-hover-zoom--quick-zoom:hover img {
    transform: scale(2);
}

.demo-div {
    width: 20%; 
    padding: 20px;
    border: 2px solid yellowgreen;
}

.list-group-item {
    padding: 40px
}

